{% extends "lrex_home/base.html" %}

{% block content %}
<table class="table bg-white">
    <thead>
    <tr>
        <th>Item Lists</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>
        {% for list in questionnaire.item_lists.all %}{{ list }}{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}
    </td></tr>
    </tbody>
</table>
<table class="table bg-white">
    <thead>
    <tr>
        <th>#</th>
        <th>Item</th>
        {% if study.use_blocks %}
        <th>Block</th>
        {% endif %}
        {% if study.pseudo_randomize_question_order %}
        <th>Question order</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if study.use_blocks %}
    {% for block, q_items in questionnaire.questionnaire_items_by_block.items %}
    {% for q_item in q_items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ q_item.item.experiment }}-{{ q_item.item }}</td>
        <td>{{ block }}</td>
        {% if study.pseudo_randomize_question_order %}
        <td>{{ q_item.quetion_order }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}
    {% else %}
    {% for q_item in questionnaire.questionnaire_items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ q_item.item.experiment }}-{{ q_item.item }}</td>
        {% if study.pseudo_randomize_question_order %}
        <td>{{ q_item.question_order_user }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}
