{% extends "lrex_home/base.html" %}

{% block content %}
<div class="row justify-content-center mb-2">
    {% if view.consider_blocks %}
    <a href="{% url 'questionnaire-generate' study.slug %}"
       class="btn btn-primary btn-sm mx-1" role="button">
        Generate questionnaires
    </a>
    <a href="{% url 'questionnaire-blocks' study.slug %}"
       class="btn btn-primary btn-sm mx-1" role="button">
        Add/edit block instructions
    </a>
    {% else %}
    <form name="actionForm" id="actionForm" method="POST"/>
        {% csrf_token %}
        <input class="span2" id="action" name="action" type="text" hidden="hidden">
        <div class="btn-group">
            <button class="btn  btn-primary btn-sm mx-1 dropdown-toggle" type="button" id="dropdownAggregateBy"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Generate questionnaires
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownAction">
                {% if study.allow_pseudo_randomization %}
                <a href="#" class="dropdown-item" onclick="$('#action').val('generate_pseudo'); $('#actionForm').submit()">Pseudo-randomize</a>
                {% endif %}
                <a href="#" class="dropdown-item" onclick="$('#action').val('generate_random'); $('#actionForm').submit()">Randomize</a>
                <a href="#" class="dropdown-item"  onclick="$('#action').val('generate_ordered'); $('#actionForm').submit()">Keep fixed item order</a>
            </div>
        </div>
    </form>
    <a href="{% url 'questionnaire-upload' study.slug %}"
       class="btn btn-secondary btn-sm mx-1" role="button">
        Upload custom CSV
    </a>
    {% endif %}
</div>
<ul class="list-group">
    {% for questionnaire in questionnaire_list %}
    <li class="list-group-item my-1">
        <div class="row">
            <div class="col-10">
                <strong>#{{ questionnaire.number }}</strong>
                {% for item in questionnaire.items_preview %}{{ item.experiment }}-{{ item }}{% if not forloop.last %}, {% else %}...{% endif %}{% endfor %}
            </div>
            <div class="col-2">
                <a href="{% url 'questionnaire' questionnaire.slug %}" class="btn btn-outline-primary btn-sm mx-1" role="button">
                    Details
                </a>
            </div>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item my-1">No questionnaires generated yet.</li>
    {% endfor %}
</ul>
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center mt-2">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">&laquo; first</a></li>
        <li class="page-item disabled"><a class="page-link">previous</a></li>
        {% endif %}

        <span class="my-2 mx-2">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">next</a></li>
        <li class="page-item disabled"><a class="page-link">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
