{% extends "lrex_home/base.html" %}

{% block nav %}
    {% include 'lrex_trial/questionnaire_nav.html' with nav2_active=0 %}
{% endblock %}

{% block content %}
<table class="table bg-white">
    <thead>
    <tr>
        <th>Item Lists</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>
        {% for list in questionnaire.item_lists.all %}{{ list }}{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}
    </td></tr>
    </tbody>
</table>
<table class="table bg-white">
    <thead>
    <tr>
        <th>#</th>
        <th>Item</th>
        {% if study.use_blocks %}
        <th>Block</th>
        {% endif %}
        {% if study.pseudo_randomize_question_order %}
        <th>Question order</th>
        {% endif %}
        {% if study.has_question_with_random_scale %}
        <th>Scale</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for block, q_item, question_properties in questionnaire_items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ q_item.item.materials }}-{{ q_item.item }}</td>
        {% if study.use_blocks %}
        <td>{{ block }}</td>
        {% endif %}
        {% if study.pseudo_randomize_question_order %}
        <td>{{ q_item.quetion_order }}</td>
        {% endif %}
        {% if study.has_question_with_random_scale %}
        <td>
            {% for question_property in question_properties %}
            Q{{ forloop.counter }}: "{{ question_property.question_scale_user }}"<br>
            {% endfor %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
