{% extends "lrex_home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<ul class="list-group">
    {% for questionnaire in questionnaire_list %}
    <li class="list-group-item d-flex">
        <div class="mr-2">
            <a href="{% url 'questionnaire' questionnaire.slug %}"><strong>#{{ questionnaire.number }}</strong></a>
        </div>
        <div class="text-truncate">
            {% for q_item in questionnaire.questionnaire_items_preview %}{{ q_item.item.materials }}-{{ q_item.item }}{% if not forloop.last %}, {% else %}...{% endif %}{% endfor %}
        </div>
    </li>
    {% empty %}
    <li class="list-group-item">No questionnaires generated yet.</li>
    {% endfor %}
</ul>
{% include 'lrex_contrib/pagination.html' %}
{% endblock %}
