{% load crispy_forms_field %}

{% comment %}
<!--TODO: Keep in sync with bootstrap4/field.html -->
{% endcomment %}

<label for="{{ field.id_for_label }}" class="col-form-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
    <em>{{ field.label|safe }}</em>{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
</label>

<div class="controls mb-2">
    {% include 'bootstrap/layout/field_errors_block.html' %}
    {% if exceeds_horizontal_limit %}
        <div class="btn-group-vertical" data-toggle="buttons">
            {% for choice in field.field.choices %}
                <button type="button" class="btn btn-outline-secondary btn-sm {% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %}active{% endif %}">
                    {{ choice.1 }}
                </button>
            {% endfor %}
        </div>
    {% else %}
    <div class="btn-group btn-group-toggle d-flex justify-content-between" data-toggle="buttons">
        {% for choice in field.field.choices %}
            <button type="button" class="btn btn-outline-secondary btn-sm {% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %}active{% endif %}">
                {{ choice.1 }}
            </button>
        {% endfor %}
    </div>
    {% endif %}

    {% if field.help_text %}
        <small id="hint_{{ field.auto_id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
</div>
