{% extends "lrex_home/base.html" %}

{% block content %}
<h1 class="mt-2">Participate in the experiment</h1>
<div class="my-2 p-4 border bg-white">
    <hr>
    <p>
        {{ view.block_instructions|linebreaks }}
        <a href="{% url 'rating-create' view.trial.slug view.num %}"
           class="btn btn-primary btn-sm mx-1">
            Continue
        </a>
    </p>
    <div class="progress" style="height: 2px;">
        <div class="progress-bar" role="progressbar" style="width: {{ view.progress }}%" aria-valuenow="{{ view.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
{% endblock %}
