{% extends "lrex_trial/rating_base.html" %}
{% load crispy_forms_tags %}
{% load contrib_tags %}

{% block rating_content %}
<div class="my-2 p-4 border bg-white">
    {% if item.textitem %}
    <div class="item-content"><p>{{ item.textitem.text|linebreaks }}</p></div>
    {% elif item.markdownitem %}
    <div class="item-content">{{ item.markdownitem.text|markdownify }}</div>
    {% else %}
    {% if item.audiolinkitem.description %}
    <p>
        {{ item.audiolinkitem.description|markdownify }}
    </p>
    {% endif %}
    <div class="text-center my-2">
        {% for item_url in item.audiolinkitem.urls_list %}
        <div>
            <audio controls="controls">
                <source src="{{ item_url }}">
                Your browser does not support the <code>audio</code> element.
            </audio>
            <span class="small">
                <a href="{{ item_url }}">Download link</a>
            </span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="my-2 p-4 border bg-white">
    <div class="mb-3">
        <form method="post">
            {% crispy view.formset view.helper %}
            <div class="form-actions text-center">
                <input type="submit" name="submit" value="{{ continue_label }}" class="btn btn-primary mt-2">
            </div>
        </form>
    </div>
    {% if short_instructions_rich %}
    <div class="mt-2">
        <a data-toggle="collapse" href="#Instructions" aria-expanded="false" aria-controls="Instructions">
            {{ study.instructions_label }}
        </a>
        <div class="collapse" id="Instructions">
            {{ short_instructions_rich }}
        </div>
    </div>
    {% endif %}
    {% if short_block_instructions_rich %}
    <div class="mt-2">
        <a data-toggle="collapse" href="#BlockInstructions"  aria-expanded="false" aria-controls="BlockInstructions">
            {{ study.block_instructions_label }}
        </a>
        <div class="collapse" id="BlockInstructions">
            {{ short_block_instructions_rich }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
