{% load crispy_forms_filters %}
{% load l10n %}

<label for="{{ field.id_for_label }}" class="col-form-label {{ label_class }}">
    <em>{{ field.label|safe }}</em>
</label>

<div class="mb-3 text-center">
    <div class="btn-group{% if use_vertical_scale_layout %}-vertical{% endif %} d-flex justify-content-between">
    {% for choice in field.field.choices %}
        <input type="radio" class="btn-check" autocomplete="off"
                {% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %}
               name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}">
        <label class="btn btn-outline-secondary" for="id_{{ field.html_name }}_{{ forloop.counter }}">
            {{ choice.1|unlocalize }}
        </label>
        {% if field.errors and forloop.last and not inline_class %}
            {% include 'bootstrap5/layout/field_errors_block.html' %}
        {% endif %}
    {% endfor %}
    {% if field.errors and inline_class %}
        {% for error in field.errors %}
            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger mb-0"><small><strong>{{ error }}</strong></small></p>
        {% endfor %}
    {% endif %}
    </div>
    {% include 'bootstrap5/layout/help_text.html' %}
</div>
