{% extends "lrex_home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="row justify-content-center mt-2">Participate in the experiment</h1>
<div class="my-2 p-4 border bg-white">
    {% if view.study.status.name == 'ACTIVE' %}
    <p>
        {{ view.study.instructions|linebreaks }}
    </p>
    {% crispy form form.helper %}
    {% elif view.study.status.name == 'DRAFT' %}
    <p>Experiment is not yet published.</p>
    {% else %}
    <p>Experiment has ended.</p>
    {% endif %}
</div>
{% endblock %}
