{% extends "lrex_home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="row justify-content-center mt-2">Participate In Experiment</h1>
<div class="row justify-content-center">
    <div class="my-2 p-4 border col-6">
        {% if view.study.status.name == 'ACTIVE' %}
        {% crispy form form.helper %}
        {% elif view.study.status.name == 'PENDING' %}
        <p>Experiment participation will start on {{ view.study.start_time }}.</p>
        {% else %}
        <p>Experiment participation is finished on  {{ view.study.start_time }}.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
