{% extends "lrex_dashboard/results_base.html" %}
{% load contrib_tags %}

{% block content %}
<table class="table bg-white">
    <thead>
    <tr>
        <th>#</th>
        <th>Materials</th>
        <th>Item</th>
        {% if study.pseudo_randomize_question_order %}<th>Question order</th>{% endif %}
        <th>Content</th>
        {% if study.has_question_with_random_scale %}
        <th>Random scale</th>
        {% endif %}
        {% for question in trial.questionnaire.study.questions.all %}
        <th>Rating{{ forloop.counter }}</th>
        {% if question.has_rating_comment %}
        <th>Comment{{ forloop.counter }}</th>
        {% endif %}
        {% endfor %}
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    {% for q_item, ratings in page_obj %}
    <tr>
        <td>{{ q_item.number }}</td>
        <td>{{ q_item.item.materials }}</td>
        <td>
            {{ q_item.item }}
        </td>
        {% if study.pseudo_randomize_question_order %}
        <td>{{ q_item.question_order_user }}</td>
        {% endif %}
        <td>
            {% include 'lrex_item/item_preview.html' with item=q_item.item %}
        </td>
        {% if study.has_question_with_random_scale %}
        <td>
            {% for question_property in q_item.question_properties.all %}
            Q{{ forloop.counter }}: "{{ question_property.question_scale_user }}"<br>
            {% endfor %}
        </td>
        {% endif %}
        {% for rating in ratings %}
            <td>
                {{ rating.scale_value.label }}
            </td>
            {% if rating.question_object.has_rating_comment %}
            <td>
                {% if rating.comment %}
                "{{ rating.comment }}"
                {% endif %}
            </td>
            {% endif %}
            {% if forloop.last %}
            <td>
                {{ rating.created|date:"SHORT_DATETIME_FORMAT" }}
            </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'lrex_contrib/pagination.html' %}
{% endblock %}
