{% load static contrib_tags %}

<!DOCTYPE html>
<html lang="en" class="lrex">
<head>
    <meta charset="UTF-8">
    <title>L-Rex</title>
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/lrex.css' %}">
    <link rel="shortcut icon" type="image/sgv" href="{% static 'img/favicon.svg' %}"/>
</head>
<body class="bg-light trial-body">

<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top grey-shadow">
    <div class="container">
        <a class="navbar-brand" target="_blank" href="{% url 'trial-home' study.slug %}">
            <img src="{% static 'img/logo.svg' %}" width="30" height="30" alt="Logo">
            L-Rex
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if trial and study.link_instructions %}
                <li class="nav-item"><a class="nav-link" target="_blank" href="{% url 'trial-instructions' trial.slug %}">{{ study.instructions_label}}&uarr;</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" target="_blank" href="{% url 'trial-privacy' study.slug %}">{{ study.privacy_statement_label}}&uarr;</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank" href="{% url 'trial-contact' study.slug %}">{{ study.contact_label }}&uarr;</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% for message in messages %}
    <div class="alert {{ message.level_tag|bootstrap_alert_class }} grey-shadow" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% block content %}{% endblock %}
</div>
</body>
</html>