{% extends "lrex_home/base.html" %}

{% block content %}
<table class="table bg-white">
    <thead>
    <tr>
        <th>Experiment</th>
        <th class="col-md-1">Item</th>
        <th>Content</th>
        {% for qustions in object.questionnaire.study.question_set.all %}
        <th class="col-md-2">Rating</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for trialitem in object.trialitem_set.all %}
    <tr>
        <td>{{ trialitem.item.experiment }}</td>
        <td class="col-md-1">
            {{ trialitem.item }}
        </td>
        <td>
            {% if trialitem.item.textitem %}
                {{ trialitem.item.textitem.text }}
            {% else %}
                <audio controls="controls">
                    <source src="{{ trialitem.item.audiolinkitem.url }}">
                    Your browser does not support the <code>audio</code> element.
                </audio>
            {% endif %}
        </td>
        {% for rating in trialitem.rating_set.all %}
        <td class="col-md-2">
            {{ rating.scale_value.label }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
