{% extends "lrex_trial/trial_base.html" %}

{% block content %}
{% if study.is_rating_possible or is_test %}
<div class="my-2 p-4 border bg-white">
    <div class="item-content"><p>{{ intro_rich }}</p></div>
    <h2>Contact</h2>
    <p>
        {{ contact }}
    </p>
    {% if contact_details_rich %}
    {{ contact_details_rich }}
    {% endif %}
    <h2>Privacy statement</h2>
    <p>
        {{ privacy_statement_rich }}
    </p>
    <a href="{% url 'trial-create' study.slug %}{% if is_test %}?test=True{% endif %}" class="btn btn-primary">{{ study.continue_label }}</a>
</div>
{% elif study.status.name == 'DRAFT' %}
<div class="my-2 p-4 border bg-white">
    <p>Experiment is not yet published.</p>
</div>
{% else %}
<div class="my-2 p-4 border bg-white">
    <p>Experiment has ended.</p>
</div>
{% endif %}
{% endblock %}
