{% extends "lrex_home/base.html" %}

{% block content %}
<div class="row justify-content-center mb-2">
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="download_proofs"
                class="btn btn-primary btn-sm mx-1">
            Download proof codes
        </button>
    </form>
</div>
<div class="card  my-2">
    <div class="card-body">
        <h2>Study access</h2>
        {% if not view.study.is_published %}
        <p class="card-text">
            Publish your study first.
        </p>
        {% endif %}
        <p class="card-text">
            Share <a href="{% url 'trial-create' study_slug=view.study.slug %}">this link</a> with your participants
            along with the password that you set for the study.
        </p>
    </div>
</div>

<ul class="list-group">
    {% for trial in trial_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center my-1">
        <span>
            {% if view.show_counter %}
                {{ forloop.counter }}. {{ trial.id }}
            {% else %}
                {{ trial.id }}
            {% endif %}
            <span class="badge badge-primary">{{ trial.status.name }}</span>
            <span class="badge badge-secondary">Questionnaire {{ trial.questionnaire.num }}</span>
            {% if trial.rating_proof %}
            <span class="badge badge-secondary">Proof {{ trial.rating_proof }}</span>
            {% endif %}
        </span>
        <span>
                <a href="{% url 'trial' study_slug=view.study.slug slug=trial.slug %}" class="btn btn-outline-primary btn-sm mx-1" role="button">
                    View
                </a>
                <a href="{% url 'trial-delete' study_slug=view.study.slug slug=trial.slug %}" class="btn btn-outline-danger btn-sm mx-1" role="button">
                    Delete
                </a>
        </span>
    </li>
    {% empty %}
    <li class="list-group-item my-1">No trials have been completed yet.</li>
    {% endfor %}
</ul>
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center mt-2">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">&laquo; first</a></li>
        <li class="page-item disabled"><a class="page-link">previous</a></li>
        {% endif %}

        <span class="my-2 mx-2">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">next</a></li>
        <li class="page-item disabled"><a class="page-link">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
