{% extends "lrex_trial/trial_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if not study.is_imit_reached or is_test %}
    {% if study.is_published or is_test %}
    <div class="my-2 p-4 border bg-white">
        <p>{{ intro_rich }}</p>
        <h2>{{ study.contact_label }}</h2>
        <p>
            {{ contact_rich }}
        </p>
        {% if contact_details_rich %}
        {{ contact_details_rich }}
        {% endif %}
        <h2>{{ study.consent_form_label }}</h2>
        <p>
            {{ consent_form_text_rich }}
        </p>
        {% crispy form form.helper %}
    </div>
    {% else %}
    <div class="my-2 p-4 border bg-white">
        <p>Experiment is not yet published.</p>
    </div>
    {% endif %}
{% else %}
<div class="my-2 p-4 border bg-white">
    <p>Experiment has ended.</p>
</div>
{% endif %}
{% endblock %}
