{% extends "lrex_home/base.html" %}

{% block content %}
<table class="table bg-white">
    <thead>
    <tr>
        <th>Experiment</th>
        <th>Item</th>
        {% if study.pseudo_randomize_question_order %}<th>Question order</th>{% endif %}
        <th>Content</th>
        {% for qustions in trial.questionnaire.study.questions %}
        <th>Rating</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for q_item, ratings in trial.questionnaire_item_ratings %}
    <tr>
        <td>{{ q_item.item.experiment }}</td>
        <td>
            {{ q_item.item }}
        </td>
        {% if study.pseudo_randomize_question_order %}
        <td>{{ q_item.question_order }}</td>
        {% endif %}
        <td>
            {% if q_item.item.textitem %}
                {{ q_item.item.textitem.text|linebreaks }}
            {% else %}
                <audio controls="controls">
                    <source src="{{ q_item.item.audiolinkitem.url }}">
                    Your browser does not support the <code>audio</code> element.
                </audio>
            {% endif %}
        </td>
        {% for rating in ratings %}
        <td>
            {{ rating.scale_value.label }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
