<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ view.setup.title }} Trials</title>
</head>
<body>
<h1>
    {{ view.setup.title }} Trials
</h1>
<table>
    <thead>
    <tr>
        <th>Trial Number</th>
        <th>Trial Lists</th>
    </tr>
    </thead>
    <tbody>
    {% for trial in trial_list %}
        <tr>
            <td>{{ trial.number }}</td>
            <td>
                {% for item in list.items %}
                    {{ item }},
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>