{% extends "lrex_home/study_base.html" %}

{% block main_content %}
<h2>Run user trial</h2>
<p class="card-text">
    Share <a href="{% url 'user-trial-create' study_slug=view.study.slug %}">this link</a> with your participants
    along with the password set for the study.
</p>

<h2>User Trials</h2>
<ul class="list-group">
    {% for usertrial in usertrial_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            {{ forloop.counter }}. {{ usertrial.id }}
            <span class="badge badge-primary">Finished</span>
            <span class="badge badge-secondary">Trial {{ usertrial.trial.number }}</span>
        </span>
        <span>
                <a href="{% url 'user-trial' study_slug=view.study.slug slug=usertrial.slug %}" class="btn btn-outline-primary btn-sm mx-1" role="button">
                    View
                </a>
                <a href="{% url 'user-trial-delete' study_slug=view.study.slug slug=usertrial.slug %}" class="btn btn-outline-danger btn-sm mx-1" role="button">
                    Delete
                </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
