{% extends "lrex_home/setup_base.html" %}

{% block main_content %}
<div class="row justify-content-center mb-2">
    <a href="{% url 'user-trial-create' setup_slug=view.setup.slug %}"
       class="btn btn-outline-primary btn-sm mx-1" role="button">
        New User Trial
    </a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>User</th>
        <th>Trial</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    {% for usertrial in usertrial_list %}
        <tr>
            <td>{{ usertrial.participant }}</td>
            <td>{{ usertrial.trial.number }}</td>
            <td>
                <a href="{% url 'user-trial' setup_slug=view.setup.slug slug=usertrial.slug %}">
                    User Trial
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
