{% extends "lrex_home/study_base.html" %}

{% block main_content %}
<h2>Run trial</h2>
<p class="card-text">
    Send this link to the trial participant:
    <a class="card-link" href="{% url 'user-response-intro' study_slug=object.trial.study.slug slug=object.slug %}">
        User Trial Link
    </a>
</p>

<h2>Results</h2>
<table class="table">
    <thead>
    <tr>
        <th class="col-md-1">Item</th>
        <th>Experiment</th>
        <th>Text</th>
        <th class="col-md-2">Response</th>
    </tr>
    </thead>
    <tbody>
    {% for usertrialitem in object.usertrialitem_set.all %}
    <tr>
        <td class="col-md-1">
            {{ usertrialitem.item }}
        </td>
        <td>{{ usertrialitem.item.experiment }}</td>
        <td>
            {% if usertrialitem.item.textitem %}
                {{ usertrialitem.item.textitem.text }}
            {% endif %}
        </td>
        <td class="col-md-2">
            {{ usertrialitem.response_text }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
