{% extends "lrex_home/base.html" %}
{% load progress_tags %}

{% block content %}
<div class="card  my-2">
    <div class="card-body">
        <h2>Question</h2>
        <p class="card-text">
            {{ object.question }}
        </p>
        <h2>Legend</h2>
        <p class="card-text">
            {{ object.legend|linebreaks }}
        </p>
        <a  class="card-link" href="{% url 'study-question-update' slug=object.study.slug pk=object.pk %}">Edit</a>
    </div>
</div>
<div class="card  my-2">
    <div class="card-body">
        <h2 class="card-title">Scale</h2>

        <p>
        {% for scale_value in object.scalevalue_set.all %}
             {{ scale_value.label }},
        {% empty %}
            Scale not defined yet.
        {% endfor %}
        </p>
        <a  class="card-link" href="{% url 'study-question-scale' slug=object.study.slug pk=object.pk %}">Create/edit</a>
    </div>
</div>
{% endblock %}
