{% include 'lrex_study/study_nav.html' with nav_active=1 %}
<ul class="nav nav-pills my-3">
    <li class="nav-item">
        <a class="nav-link {% if not nav2_active or nav2_active == 0 %}active{% endif %}"
           href="{% url 'study-settings' study.slug %}">
            Settings
        </a>
    </li><li class="nav-item">
        <a class="nav-link {% if nav2_active == 1 %}active{% endif %}" href="{% url 'study-translate' study.slug %}">
            Translations
        </a>
    </li><li class="nav-item">
        <a class="nav-link {% if nav2_active == 2 %}active{% endif %}" href="{% url 'study-share' study.slug %}">
            Share
        </a>
    </li>
</ul>
