{% extends "lrex_home/base.html" %}

{% block content %}
<div class="card my-2">
    <div class="card-body">
        <h2 class="card-title">User trials</h2>
        <p class="card-text">
            Make the study accessible to your participants. View the completed individual questionnaires.
        </p>
        <a  class="card-link" href="{% url 'trials' study.slug %}">User trials</a>
    </div>
</div>

<div class="card my-2">
    <div class="card-body">
        <h2 class="card-title">Results</h2>
        <p class="card-text">
            View a summary of the current results.
        </p>
        <a  class="card-link" href="{{ study.results_url ">Results</a>
    </div>
</div>
{% endblock %}
