{% extends "lrex_home/base.html" %}

{% block content %}
<div class="card my-2">
    <div class="card-body">
        <h2 class="card-title">User trials</h2>
        <p class="card-text">
            Make the study accessible to your participants. View the completed individual questionnaires.
        </p>
        <a  class="card-link" href="{% url 'trials' study_slug=object.slug %}">User trials</a>
    </div>
</div>

<div class="card my-2">
    <div class="card-body">
        <h2 class="card-title">Results</h2>
        <p class="card-text">
            View a summary of the current results.
        </p>
        {% if object.experiment_set.count == 1 %}
        <a  class="card-link" href="{% url 'experiment-results' object.slug object.experiment_set.first %}">Results</a>
        {% else %}
        <a  class="card-link" href="{% url 'experiment-result-list' object.slug %}">Results</a>
        {% endif %}
    </div>
</div>
{% endblock %}
