{% extends "lrex_dashboard/settings_base.html" %}

{% block content %}
    {% if not study.has_invoice %}
        {% include "lrex_home/invoice_info.html" %}
        {% include "lrex_contrib/crispy_form.html" %}
    {% else %}
        <p>
        {% include "lrex_home/invoice_done_info.html" %}
        </p>
        <p>
            Contact us...
        </p>
        <p>
            You can also <a href="{% url 'invoice-request' %}">request an invoice</a> without a study.
        </p>
    {% endif %}
{% endblock %}
