{% extends "lrex_home/base.html" %}
{% load progress_tags %}

{% block content %}
<div class="row justify-content-center mb-2">
    <a href="{% url 'study-create' %}" class="btn btn-primary btn-sm mx-1" role="button">
        New study
    </a>
</div>
<ul class="list-group">
    {% for study in study_list %}
    <li class="list-group-item my-1">
        <div class="row">
            <div class="col-7">
                <strong>{{ study.title }}</strong>
                <span class="badge badge-primary">{{ study.status.name }}</span>
                {% if study.creator != view.request.user %}
                    <span class="badge badge-secondary">Shared</span>
                {% endif %}
                {%if study.is_published %}
                <div class="row">
                    <div class="col-md-2">
                        <small>Participate:</small>
                    </div>
                    <div class="col-md-4">
                        <small><a href="{% url 'trial-create' study.slug %}">Participant link</a></small>
                    </div>
                    <div class="col-md-2">
                        {% if study.creator != view.request.user %}
                        <small>Shared by:</small>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if study.creator != view.request.user %}
                        <small>{{ study.creator.username }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <small>Password:</small>
                    </div>
                    <div class="col-md-4">
                        <small>{{ study.password }}</small>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-5">
                <a href="{% url 'study' study.slug %}"
                   class="btn {% if study.status.name == 'ACTIVE' %} btn-outline-primary {% else %} btn-outline-primary {% endif %} btn-sm mx-1"
                   role="button">
                    Edit
                </a>
                <a href="{% url 'study-run' study.slug %}"
                   class="btn btn-outline-primary btn-sm mx-1 {% if not study|is_progress_std_questionnares_generated_reached %} disabled {% endif %}"
                   role="button">
                    Results
                </a>
                <form class="form-inline" method="post">
                    {% csrf_token %}
                    {% if study.is_published %}
                    <button type="submit" name="unpublish" value="{{ study.slug }}"
                            class="btn btn-outline-warning btn-sm mx-1">
                        Unpublish
                    </button>
                    {% else %}
                    <button type="submit" name="publish" value="{{ study.slug }}"
                            class="btn btn-outline-success btn-sm mx-1 {% if not study|is_progress_std_questionnares_generated_reached %} disabled {% endif %}">
                        Publish
                    </button>
                    {% endif %}
                </form>
                <a href="{% url 'study-delete' study.slug %}" class="btn btn-outline-danger btn-sm mx-1" role="button">
                    Delete
                </a>
            </div>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item my-1">There are currently no studies.</li>
    {% endfor %}
</ul>
{% endblock %}

