{% extends "lrex_home/base.html" %}
{% load progress_tags %}
{% load contrib_tags %}

{% block content %}
<div class="row small text-secondary justify-content-center mb-2">
    <form class="form-inline" method="post">
        {% csrf_token %}
        {% if study.is_published %}
        <button type="submit" name="action" value="unpublish"
                class="btn btn-warning btn-sm mx-1">
            Unpublish
        </button>
        {% else %}
        <button type="submit" name="action" value="publish"
                class="btn btn-success btn-sm mx-1 {% if not study|is_progress_std_questionnares_generated_reached %} disabled {% endif %}">
            Publish
        </button>
        {% endif %}
    </form>
</div>

<!-- TODO:  two column layout status, sttings 1/3 size on the right -->
<div class="card my-2">
    <div class="card-body">
        <h2 class="card-title">Status</h2>
        <div class="row small text-secondary">
            <div class="col-md-3">
                Current status:
            </div>
            <div class="col-md-3">
                <span class="badge badge-primary">{{ study.status.name }}</span>
            </div>
            <div class="col-md-3">
                Participate:
            </div>
            <div class="col-md-3">
                {% if study.is_published %}
                <a href="{% url 'trial-create' study.slug %}">Participant link</a> ({{ study.password }})
                {% else %}
                <a class="card-link text-muted">Participant link</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="card  my-2">
    <div class="card-body">
        <h2 class="card-title">Settings</h2>
        <p class="card-text">
            Set the general properties of the study.
        </p>
        <div class="row small text-secondary">
            <div class="col-md-3">
                Item Type:
            </div>
            <div class="col-md-3">
                {{ study.get_item_type_display }}
            </div>
            <div class="col-md-3">
                Participant password:
            </div>
            <div class="col-md-3">
                {{ study.password }}
            </div>
        </div>
        <div class="row small text-secondary">
            <div class="col-md-3">
                Require participant id:
            </div>
            <div class="col-md-3">
                {{ study.require_participant_id|yesno }}
            </div>
            <div class="col-md-3">
                Participation code:
            </div>
            <div class="col-md-3">
                {{ study.generate_participation_code|yesno }}
            </div>
        </div>
        <div class="row small text-secondary">
            <div class="col-md-3">
                End date:
            </div>
            <div class="col-md-3">
                {% if study.end_date %}
                    {{ study.end_date|date:"SHORT_DATETIME_FORMAT" }}
                {% else %}
                    --
                {% endif %}
            </div>
            <div class="col-md-3">
                Trial limit:
            </div>
            <div class="col-md-3">
                {{ study.trial_limit|default:"--" }}
            </div>
        </div>
        <div class="row small text-secondary">
            {% if study.creator == view.request.user %}
            <div class="col-md-3">
                Shared with:
            </div>
            <div class="col-md-3">
                {{ study.shared_with|default:"--" }}
            </div>
            {% else %}
            <div class="col-md-3">
                Shared by:
            </div>
            <div class="col-md-3">
                {{ study.creator.username }}
            </div>
            {% endif %}
        </div>
        <hr>
        <a  class="card-link" href="{% url 'study-update' study.slug %}">Settings</a>
        <a  class="card-link" href="{% url 'study-share' study.slug %}">Share</a>
    </div>
</div>

<div class="card my-2 {% if study|is_progress_std_created %} border-primary shadow{% endif %}">
    <div class="card-body">
        <h2 class="card-title">Tasks</h2>
        <p class="card-text">
            Specify the task and task instructions.
        </p>
        <div class="row small text-secondary">
            <div class="col-md-3">
                Questions:
            </div>
            <div class="col-md-9">

                    {% for question in study.questions %}
                    {{ question }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                    --
                    {% endfor %}

            </div>
        </div>
        <div class="row small text-secondary">
            <div class="col-md-3">
                Instructions:
            </div>
            <div class="col-md-3">
                {{ study.instructions|preview:"20" }}
            </div>
            <div class="col-md-3">
                Outro:
            </div>
            <div class="col-md-3">
                {{ study.outro|preview:"20" }}
            </div>
        </div>
        <hr>
        <a  class="card-link" href="{% url 'study-questions' study.slug %}">Questions</a>
        <a  class="card-link" href="{% url 'study-instructions' study.slug %}">Instructions</a>
    </div>
</div>

<div class="card my-2 {% if study|is_progress_std_question_created_reached and not study|is_progress_std_exp_completed_reached %} border-primary shadow{% endif %}">
    <div class="card-body">
        <h2 class="card-title">Experiments</h2>
        <p class="card-text">
            Add experiments (including fillers). Items of all experiments will be intermixed with each other within the same questionnaire.
        </p>
        <div class="row small text-secondary">
            <div class="col-md-3">
                Experiments ready:
            </div>
            <div class="col-md-3">

                    {% for experiment in experiments_ready %}
                    {{ experiment }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                    --
                    {% endfor %}

            </div>
            <div class="col-md-3">
                Experiments in draft:
            </div>
            <div class="col-md-3">

                    {% for experiment in experiments_draft %}
                    {{ experiment }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                    --
                    {% endfor %}

            </div>
        </div>
        <hr>
        {% if study|is_progress_std_question_created_reached %}
        <a  class="card-link" href="{% url 'experiments' study.slug %}">Experiments</a>
        {% else %}
        <a  class="card-link disabled text-muted">Create/edit experiments</a>
        {% endif %}
    </div>
</div>

<div class="card my-2 {% if study|is_progress_std_exp_completed %} border-primary shadow{% endif %}">
    <div class="card-body">
        <h2 class="card-title">Questionnaires</h2>
        <p class="card-text">
            Generate questionnaires. A questionnaire is the ordered list of stimuli that an individual participant will see.
        </p>
        <div class="row small text-secondary">
            <div class="col-md-3">
                Questionnaires created:
            </div>
            <div class="col-md-3">
                {{ study.questionnaire_set.count }}
            </div>
        </div>
        <hr>
        {% if study|is_progress_std_exp_completed_reached  %}
        <a  class="card-link" href="{% url 'questionnaires' study.slug %}">Generate questionnaires</a>
        {% else %}
        <a  class="card-link text-muted">Questionnaires</a>
        {% endif %}
    </div>
</div>

<div class="card my-2">
    <div class="card-body">
        <h2 class="card-title">Results</h2>
        <p class="card-text">
            View a summary of the current results or the completed individual questionnaires.
        </p>
        <div class="row small text-secondary small text-secondary">
            <div class="col-md-3">
                Trials taken:
            </div>
            <div class="col-md-3">
                {{ trial_count }}
            </div>
        </div>
        <hr>
        {% if study|is_progress_std_questionnares_generated_reached %}
        <a  class="card-link" href="{{ study.results_url }}">Summary of the results</a>
        <a  class="card-link" href="{% url 'trials' study.slug %}">Individual user trials</a>
        {% else %}
        <a class="card-link text-muted">Summary of the results</a>
        <a class="card-link text-muted">Individual user trials</a>
        {% endif %}
    </div>
</div>
{% endblock %}
