{% extends "lrex_home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="p-4 border bg-white">
    <p>
        You can archive a study by downloading and saving the archive <code>ZIP-file</code> containing all contents of your study as separate <code>CSV-files</code>:
    </p>
    <div class="row">
        <div class="col-sm-5 text-right">
            <code>01_results.csv:</code>
        </div>
        <div class="col-sm-5">
            Study results
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 text-right">
            <code>02_settings.csv:</code>
        </div>
        <div class="col-sm-5">
            General study settings, questions, instructions
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 text-right">
            <code>03_items.csv:</code>
        </div>
        <div class="col-sm-5">
            Items for all expriments of the study
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 text-right">
            <code>04_lists.csv:</code>
        </div>
        <div class="col-sm-5">
            Item-lists for all expriments of the study
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 text-right">
            <code>05_questionnaires.csv:</code>
        </div>
        <div class="col-sm-5">
            Study questionnaires
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-5 text-right">
            <code>06_blocks.csv:</code>
        </div>
        <div class="col-sm-5">
            Questionnaire blocks (if used)
        </div>
    </div>
    <p>
        You can then use this archive file to restore this study or create a similar study. <br>Please, download the archive:
    </p>
    <div class="text-center mb-4">
        <a href="{% url 'study-archive-download' study.slug %}" class="btn btn-primary">Generate and download archive</a>
    </div>
    <p><strong>
        Important: Please make sure that the archive <code>ZIP-file</code> is valid and all <code>CSV-files</code> contain the expected content.
        When you proceed, all study data and results will be deleted from the server.
    </strong></p>
    {% crispy form form.helper %}
</div>
{% endblock %}
