{% extends "lrex_home/base.html" %}

{% block content %}
<div class="row justify-content-center mb-2">
    <form method="post">
        {% csrf_token %}
        {% if object.is_published %}
        <button type="submit" name="action" value="unpublish"
                class="btn btn-outline-warning btn-sm mx-1 bg-white">
            Unpublish
        </button>
        {% else %}
        <button type="submit" name="action" value="publish"
                class="btn btn-outline-primary btn-sm mx-1 bg-white">
            Publish
        </button>
        {% endif %}
    </form>
</div>
<div class="card my-2">
    <div class="card-body">
        <h2 class="card-title">User Trials</h2>
        <p class="card-text">
            Create and run user trials. View indivirual results.
        </p>
        <a  class="card-link" href="{% url 'trials' study_slug=object.slug %}">User Trials</a>
    </div>
</div>

<div class="card my-2">
    <div class="card-body">
        <h2 class="card-title">Results</h2>
        <p class="card-text">
            See the current results for your experiments.
        </p>
        <a  class="card-link" href="{% url 'experiment-result-list' object.slug %}">Results</a>
    </div>
</div>
{% endblock %}
