{% extends "lrex_home/base.html" %}
{% load static %}

{% block content %}
<ul class="list-group">
    {% for study in study_list %}
    <li class="list-group-item d-flex">
        <div class="flex-grow-1">
            <a href="{% url 'study' study.slug %}"><strong>{{ study.title }}</strong></a>
            {% if study.is_published %}
            <div class="badge badge-primary">Published</div>
            {% elif study.is_finished %}
            <div class="badge badge-light">Finished</div>
            {% else %}
            <div class="badge badge-secondary">Draft</div>
            {% endif %}
            {% if study.is_time_limit_reached %}
            <div class="badge badge-secondary">Time limit reached</div>
            {% endif %}
            {% if study.is_trial_limit_reached %}
            <div class="badge badge-secondary">Trial limit reached</div>
            {% endif %}
            <div class="small mt-1">
                <span class="pr-2">created: <strong>{{ study.created_date|date:"SHORT_DATE_FORMAT" }}</strong></span>
                <span class="pr-2">completed trials: <strong>{{ study.trial_count_finished }}</strong></span>
                {% if study.creator != view.request.user %}
                <span class="pr-2">shared by: <strong>{{ study.creator.username }}</strong></span>
                {% endif %}
            </div>
        </div>
        <div class="d-flex align-self-center">
            <div class="dropdown">
                <button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownStudyActionsButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    &hellip;
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {% if not study.is_archived %}
                    <a href="{% url 'study-archive' study.slug %}" class="dropdown-item">Archive</a>
                    {% else %}
                    <a href="{% url 'study-archive-restore' study.slug %}" class="dropdown-item">Restore</a>
                    {% endif %}
                    <a href="{% url 'study-delete' study.slug %}" class="dropdown-item">Delete</a>
                    <a href="{% url 'study-copy' study.slug %}" class="dropdown-item">Copy</a>
                </div>
            </div>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item">There are currently no studies.</li>
    {% endfor %}
</ul>
{% include 'lrex_contrib/pagination.html' %}
{% endblock %}

