{% extends "lrex_home/base.html" %}

{% block content %}
<div class="row justify-content-center mb-2">
    <a href="{% url 'study-create' %}" class="btn btn-primary btn-sm mx-1" role="button">
        New Study
    </a>
</div>
<ul class="list-group">
    {% for study in study_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center my-1">
        <span>
            {{ study.title }}
            <span class="badge badge-primary">{{ study.status.name }}</span>
        </span>
        <span>
            <a href="{% url 'study' slug=study.slug %}" class="btn btn-outline-primary btn-sm mx-1" role="button">
                Create/Edit
            </a>
            <a href="{% url 'study-run' slug=study.slug %}" class="btn btn-outline-primary btn-sm mx-1" role="button">
                Run
            </a>
            <a href="{% url 'study-delete' slug=study.slug %}" class="btn btn-outline-danger btn-sm mx-1" role="button">
                Delete
            </a>
        </span>
    </li>
    {% empty %}
    <li class="list-group-item my-1">No studies yet.</li>
    {% endfor %}
</ul>
{% endblock %}

