{% extends "lrex_home/base.html" %}

{% block content %}
{%if view.object %}
    <div>
         Question: {{ view.object.question }}
    </div>
    <div>
        Legend:
        <div>
            {{ view.object.legend }}
        </div>
    </div>
    <div>
        Yes Lable: {{ view.object.yes }}
    </div>
    <div>
        No Lable: {{ view.object.no }}
    </div>
{% else %}
    <a href="{% url 'binary-response-info-create' setup_slug=view.setup.slug %}">
        Create Response Info
    </a><br>
{% endif %}
{% endblock %}
