{% extends "lrex_home/setup_base.html" %}

{% block main_content %}
{% if view.object %}
<div class="row action">
    <a href="{% url 'binary-response-info-update' setup_slug=view.setup.slug pk=view.object.pk%}" class="btn btn-primary" role="button">
        Edit
    </a>
</div>
<h2>
     Question:
</h2>
{{ view.object.question }}
<h2>
    Legend:
</h2>
{{ view.object.legend }}
<h2>
    Yes Label:
</h2>
{{ view.object.yes }}
<h2>
    No Label:
</h2>
{{ view.object.no }}
{% else %}
<div class="row action">
    <a href="{% url 'binary-response-info-create' setup_slug=view.setup.slug %}" class="btn btn-primary" role="button">
        Create
    </a>
</div>
{% endif %}
{% endblock %}
