{% extends "lrex_home/base.html" %}

{% block content %}
<h1 class="row justify-content-center mt-2">Participate In Experiment</h1>
<div class="row justify-content-center">
    <div class="my-2 p-4 border col-6">
            <p>
                {{ view.user_trial_item.item.textitem.text }}
            </p>
            <form method="post">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <button class="btn btn-outline-primary mx-1" type="submit" name="yes" value="on">
                        {{ view.yes }}
                    </button>
                    <button class="btn btn-outline-primary mx-1" type="submit" name="yes" value="">
                        {{ view.no }}
                    </button>
                </div>
            </form>
            <p>
                <small>
                    {{ view.setup.responsesettings.legend }}
                </small>
            </p>
    </div>
</div>

{% endblock %}
