{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if view.title %}
        <title>{{ view.title }}</title>
    {% else %}
        <title>L-REX</title>
    {% endif %}
    <script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body>
    {% if view.title %}
        <h1>{{ view.title }}</h1>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>