{% extends "lrex_home/base.html" %}

{% block content %}

<p>
    The demo studies show how L-Rex looks and works from the perspective of a participant.
    Each demo study illustrates a set of features.
    <ul>
        <li><a target="_blank" href="/studies/demoacceptabilityrating/trials/intro/">Acceptability rating demo</a>
            (features: Latin-square distribution, filler items, pseudo-randomization)</li>
        <li><a target="_blank" href="/studies/demoforcedchoice/trials/intro/">Forced choice demo</a>
            (features: Markdown formatting, varying questions and responses, comments)</li>
    </ul>
</p>

{% endblock %}