{% extends "lrex_home/base.html" %}

{% block content %}
<h1>Help</h1>
<p>
    The wiki provides a step-by-step guide to setting up experimental studies with L-Rex:
<ul>
    <li><a target="_blank" href="https://github.com/2e2a/l-rex/wiki">L-Rex Wiki on GitHub&nearr;</a></li>
</ul>
</p>
<p>
    If you encounter any problems, you can submit an issue or feature request on GitHub
    or contact us via e-mail:
    <ul>
    <li><a target="_blank" href="https://github.com/2e2a/l-rex/issues">L-Rex Issues on GitHub&nearr;</a></li>
    <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>
</p>
{% endblock %}
