{% extends "lrex_home/base.html" %}
{% load static %}

{% block title %}L-Rex{% endblock %}

{# Design: consider 2x2 columns for medium #}
{% block content %}
<div class="content">
    <div class="card my-2">
        <div class="card-body">
            <p class="card-text">
                Welcome to L-Rex, a free and open-source platform for creating and running rating experiments.
            </p>
            <p class="card-text">
                L-Rex is designed for linguistic experiments in which participants are asked to rate stimuli on a scale.
                You can quickly set up your experiment with L-Rex if...
            </p>
            <ul class="card-text">
                <li>...your stimuli are texts or audio files.</li>
                <li>...the rating is binary or on an n-point scale (e.g., a scale from 1-5).</li>
                <li>...you want to distribute the stimuli using a Latin Square Design.</li>
                <li>...you want to present your stimuli in (pseudo-)randomized order.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="card my-2">
            <div class="card-body text-center">
                <h3 class="card-title text-center">My studies</h3>
                <p class="card-text">
                    Start creating experiments with L-Rex or edit your existing studies. A user account is required -
                    you will be asked to log in or register.
                </p>
                <a class="card-link" href="{% url 'studies' %}">My studies</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="card my-2">
            <div class="card-body text-center">
                <h3 class="card-title">Documentation</h3>
                <p class="card-text">
                    This wiki provides a step-by-step guide to setting up experimental studies with L-Rex.
                </p>
                <a class="card-link" target="_blank" href="https://github.com/2e2a/l-rex/wiki">L-Rex Wiki&uarr;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="card my-2">
            <div class="card-body text-center">
                <h3 class="card-title">Contribute</h3>
                <p class="card-text">
                    L-Rex is free and open-source. Please feel free to submit your issues, feature requests, and pull
                    requests.
                </p>
                <a class="card-link" target="_blank" href="https://github.com/2e2a/l-rex/">L-Rex on GitHub&uarr;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="card my-2">
            <div class="card-body text-center">
                <h3 class="card-title">News</h3>
                <ul class="list-group mb-3">
                    {% for news in news_list %}
                    <li class="list-group-item border-0">
                        <small>{{ news.date|date:"SHORT_DATE_FORMAT" }}</small><br>
                        <a href="{% url 'news' news.slug %}">{{ news.title }}</a>
                    </li>
                    {% empty %}
                    <li class="list-group-item border-0">No news is good news.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
