{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <p>
        Invoices are only available for residents of Germany (for tax reasons). If you need the invoice to be more
        specific (e.g., because further details are required for reimbursement by your university), you can edit the
        <i>invoice subject</i> field.
    </p>
    <p>
        After submitting the form, you will receive a confirmation e-mail. We will get back to you as soon as possible with
        an invoice, usually within a few days. If you do not receive an e-mail, please contact us under
        <i>support@l-rex.de</i>.
    </p>
    {% crispy form %}
{% endblock %}

