{% extends "lrex_home/base.html" %}

{% block content %}
    <ol class="breadcrumb">
        {% for name, link in view.breadcrumbs %}
            {% if not forloop.last %}
                <li class="breadcrumb-item"><a href="{{ link }}">{{ name }}</a></li>
            {% else %}
                <li class="breadcrumb-item active">{{ name }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    {% if view.title %}
        <h1 class="row justify-content-center mt-2">{{ view.title }}</h1>
    {% endif %}
    {% block main_content %}{% endblock %}
{% endblock %}
