{% extends "lrex_home/base.html" %}

{% block content %}
<div class="row justify-content-center mb-2">
    <a
        {% if view.study.has_text_items %}
        href="{% url 'text-item-create' study_slug=view.experiment.study.slug slug=view.experiment.slug %}"
        {% else %}
        href="{% url 'audio-link-item-create' study_slug=view.experiment.study.slug slug=view.experiment.slug %}"
        {% endif %}
       class="btn btn-primary btn-sm mx-1" role="button">
        Add item
    </a>
    <a href="{% url 'items-pregenerate' study_slug=view.experiment.study.slug slug=view.experiment.slug %}"
       class="btn btn-primary btn-sm mx-1" role="button">
        Pregenerate items
    </a>
    <a href="{% url 'items-upload' study_slug=view.experiment.study.slug slug=view.experiment.slug %}"
       class="btn btn-primary btn-sm mx-1" role="button">
        Upload CSV
    </a>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="validate" class="btn btn-primary btn-sm mx-1">
            Validate
        </button>
    </form>
    <a href="{% url 'items-delete' study_slug=view.experiment.study.slug slug=view.experiment.slug %}"
       class="btn btn-danger btn-sm mx-1" role="button">
        Delete all
    </a>
</div>
<ul class="list-group">
    {% with consider_blocks=view.consider_blocks %}
    {% for item in item_list %}
    <li class="list-group-item">
        <div class="row">
        <div class="col-2">
            <strong>{{ item }}</strong>
            {% if consider_blocks %}<span class="badge badge-secondary">block {{ item.block }}</span>{% endif %}
        </div>
        <div class="col-5">
            {% if item.textitem %}
            {{ item.textitem.text|linebreaks }}
            {% else %}
            <audio controls="controls">
                <source src="{{ item.audiolinkitem.url }}">
                Your browser does not support the <code>audio</code> element.
            </audio>
            {% endif %}
        </div>
        <div class="col-4">
            <a
               {% if view.study.has_text_items %}
               href="{% url 'text-item-update' study_slug=view.experiment.study.slug slug=view.experiment.slug pk=item.pk %}"
               {% else %}
               href="{% url 'audio-link-item-update' study_slug=view.experiment.study.slug slug=view.experiment.slug pk=item.pk %}"
               {% endif %}
               class="btn btn-outline-primary btn-sm mx-1" role="button">
                Edit
            </a>
            <a href="{% url 'item-questions' view.experiment.study.slug  view.experiment.slug item.pk %}"
               class="btn btn-outline-secondary btn-sm mx-1" role="button">
                Customize questions
            </a>
            <a href="{% url 'item-delete' view.experiment.study.slug  view.experiment.slug item.pk %}"
               class="btn btn-outline-danger btn-sm mx-1" role="button">
                Delete
            </a>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item my-1">There are currently no items.</li>
    {% endfor %}
    {% endwith %}
</ul>
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center mt-2">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">&laquo; first</a></li>
        <li class="page-item disabled"><a class="page-link">previous</a></li>
        {% endif %}

            <span class="my-2 mx-2">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">next</a></li>
        <li class="page-item disabled"><a class="page-link">last &raquo;</a></li>
        {% endif %}
  </ul>
</nav>
{% endblock %}
