{% extends "lrex_dashboard/materials_base.html" %}

{% block actions %}
<form method="post">
    {% csrf_token %}
    <button type="submit" name="action" value="validate"
            class="btn btn-outline-secondary btn-sm ml-0 mr-1 mt-1 {% if disabled %}disabled{% endif %}"
            {% if disabled %} disabled{% endif %}>
        Validate / generate lists
    </button>
</form>
<div class="dropdown ml-1 mr-0 my-1">
    <button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownActionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        &hellip;
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item {% if disabled %}disabled{% endif %}" href="{% url 'itemlist-upload' materials.slug %}">Upload lists from CSV</a>
        <a class="dropdown-item" href="{% url 'itemlist-download' materials.slug %}">Download lists CSV</a>
    </div>
</div>
{% endblock %}

{% block content %}
<table class="table bg-white">
    <thead>
    <tr>
        <th>List</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
    {% for item_list in itemlist_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {% for item in item_list.items.all %}{{ item }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
