{% extends "lrex_home/base.html" %}
{% load item_tags %}

{% block content %}
<div class="text-center mb-2">
    {% if not disable_actions %}
    <a href="{% url 'items-upload' experiment.slug %}" class="btn btn-primary btn-sm mx-1">Upload CSV</a>
    <form method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" name="action" value="validate" class="btn btn-primary btn-sm mx-1">
            Validate
        </button>
    </form>
    <a href="{% url item_add_url_name experiment.slug %}" class="btn btn-secondary btn-sm mx-1">Add item </a>
    <a href="{% url 'items-pregenerate' experiment.slug %}" class="btn btn-secondary btn-sm mx-1">Pregenerate items</a>
    <a href="{% url 'items-delete' experiment.slug %}" class="btn btn-danger btn-sm mx-1">Delete all</a>
    {% else %}
    <a href="" class="btn btn-primary btn-sm mx-1 disabled">Upload CSV</a>
    <a href="" class="btn btn-primary btn-sm mx-1 disabled">Validate</a>
    <a href="" class="btn btn-secondary btn-sm mx-1 disabled">Add item</a>
    <a href="" class="btn btn-secondary btn-sm mx-1 disabled">Pregenerate items</a>
    <a href="" class="btn btn-danger btn-sm mx-1 disabled">Delete all</a>
    {% endif %}
    <a href="{% url 'items-download' experiment.slug %}" class="btn btn-secondary btn-sm mx-1">Download CSV</a>
</div>
<ul class="list-group">
    {% for item in item_list %}
    <li class="list-group-item d-flex flex-column flex-md-row">
        <div class="mr-4">
            <strong>{{ item }}</strong>
            {% if study.use_blocks %}<span class="badge badge-secondary">block {{ item.experiment_block }}</span>{% endif %}
        </div>
        <div class="flex-grow-1 mr-4">
            {% if item.textitem %}
            {{ item.textitem.text|linebreaks }}
            {% elif item.markdownitem %}
            {{ item.markdownitem|markdownify_item }}
            {% else %}
            <audio controls="controls">
                <source src="{{ item.audiolinkitem.url }}">
                Your browser does not support the <code>audio</code> element.
            </audio>
            {% endif %}
        </div>
        <div class="flex-shrink-0">
            {% if not disable_actions %}
            <a href="{% url item_edit_url_name item_slug=item.slug %}" class="btn btn-outline-primary btn-sm mx-1">
                Edit
            </a>
            <a href="{% url 'item-questions' item_slug=item.slug %}" class="btn btn-outline-secondary btn-sm mx-1">
                Customize questions
            </a>
            <a href="{% url 'item-delete' item_slug=item.slug %}" class="btn btn-outline-danger btn-sm mx-1">
                Delete
            </a>
            {% else %}
            <a href="" class="btn btn-outline-primary btn-sm mx-1 disabled">Edit</a>
            <a href="" class="btn btn-outline-secondary btn-sm mx-1 disabled">Customize questions</a>
            <a href="" class="btn btn-outline-danger btn-sm mx-1 disabled">Delete</a>
            {% endif %}
        </div>
    </li>
    {% empty %}
    <li class="list-group-item">There are currently no items.</li>
    {% endfor %}
</ul>
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center mt-2">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">&laquo; first</a></li>
        <li class="page-item disabled"><a class="page-link">previous</a></li>
        {% endif %}

            <span class="my-2 mx-2">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">next</a></li>
        <li class="page-item disabled"><a class="page-link">last &raquo;</a></li>
        {% endif %}
  </ul>
</nav>
{% endblock %}
