{% load contrib_tags %}
{% if study.has_text_items %}
    {{ item.textitem.text|linebreaks }}
{% elif study.has_markdown_items %}
    {{ item.markdownitem.text|markdownify }}
{% elif study.has_audiolink_items %}
    {% if item.audiolinkitem.description %}
        {{ item.audiolinkitem.description|markdownify }}
    {% endif %}
    {% for item_url in item.audiolinkitem.urls_list %}
        <div>
            <audio controls="controls">
                <source src="{{ item_url }}">
                Your browser does not support the <code>audio</code> element.
            </audio>
        </div>
    {% endfor %}
{% endif %}
