{% extends "lrex_home/base.html" %}

{% block content %}
<div class="text-center mb-2">
    <form name="actionForm" id="actionForm" method="POST" class="d-inline">
    {% csrf_token %}
    <input class="span2" id="action" name="action" type="text" hidden="hidden">
    <div class="btn-group">
        <button class="btn  btn-primary btn-sm mx-1 dropdown-toggle" type="button" id="dropdownAggregateBy"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Generate lists
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownAction">
            <a href="#" class="dropdown-item"  onclick="$('#action').val('generate_distributed'); $('#actionForm').submit()">Latin-Square Distribution</a>
            <a href="#" class="dropdown-item" onclick="$('#action').val('generate_single'); $('#actionForm').submit()">Show all conditions to all participants</a>
        </div>
    </div>
    </form>
<!--    <a href="{% url 'itemlist-upload' experiment.slug %}"
       class="btn btn-secondary btn-sm mx-1">
        Upload custom CSV
    </a>-->
</div>
<table class="table bg-white">
    <thead>
    <tr>
        <th>List</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
    {% for item_list in itemlist_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {% for item in item_list.items.all %}{{ item }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
