{% extends "lrex_home/base.html" %}

{% block content %}
<div class="text-center mb-2">
    {% if allow_actions and not disable_actions %}
    <a href="{% url 'itemlist-upload' experiment.slug %}" class="btn btn-secondary btn-sm mx-1">Upload CSV</a>
    {% else %}
    <a href="" class="btn btn-secondary btn-sm mx-1 disabled">Upload CSV</a>
    {% endif %}
    <a href="{% url 'itemlist-download' experiment.slug %}" class="btn btn-secondary btn-sm mx-1">Download CSV</a>
</div>
<table class="table bg-white">
    <thead>
    <tr>
        <th>List</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
    {% for item_list in itemlist_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {% for item in item_list.items.all %}{{ item }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
