{% extends "lrex_home/study_base.html" %}

{% block main_content %}
<div class="row justify-content-center mb-2">
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="generate_lists" class="btn btn-outline-primary btn-sm mx-1">
            Generate Items Lists
        </button>
    </form>
</div>
<table class="table">
    <thead>
    <tr>
        <th>List</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
    {% for list in list_list %}
    <tr>
        <td class="col-md-1">{{ list.number }}</td>
        <td>
            {% for item in list.items.all %}
                {{ item }},
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
