{% extends "lrex_home/setup_base.html" %}

{% block main_content %}
<div class="row justify-content-center mb-2">
    <a href="{% url 'textitem-create' setup_slug=view.experiment.setup.slug slug=view.experiment.slug %}"
       class="btn btn-outline-primary btn-sm mx-1" role="button">
        Add Text Item
    </a>
    <a href="" class="btn btn-outline-primary btn-sm mx-1" role="button">
        Pregenerate?
    </a>
    <a href="" class="btn btn-outline-primary btn-sm mx-1" role="button">
        Upload
    </a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Item</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    {% for item in textitem_list %}
    <tr>
        <td class="col-md-1">
            <a href="{% url 'textitem-update' setup_slug=view.experiment.setup.slug slug=view.experiment.slug pk=item.pk %}">
                {{ item }}
            </a>
        </td>
        <td>{{ item.text }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
