{% extends "lrex_home/setup_base.html" %}

{% block main_content %}
<div class="action">
    <a href="{% url 'textitem-update' object.experiment.setup.slug object.experiment.slug object.pk %}" class="btn btn-warning" role="button">
        Edit
    </a>
    <a href="{% url 'textitem-delete' object.experiment.setup.slug  object.experiment.setup.slug object.pk %}" class="btn btn-danger" role="button">
        Delete
    </a>
</div>
<h2>
    Item: {{ object.number }}{{object.condition }}
</h2>
<par>
    {{ object.text }}
</par>
{% endblock %}
