{% extends "lrex_home/setup_base.html" %}

{% block main_content %}
<div class="row justify-content-center mb-2">
    <a href="{% url 'textitem-create' setup_slug=view.experiment.setup.slug slug=view.experiment.slug %}"
       class="btn btn-outline-primary btn-sm mx-1" role="button">
        Add Text Item
    </a>
    <a href="" class="btn btn-outline-primary btn-sm mx-1" role="button">
        Pregenerate?
    </a>
    <a href="" class="btn btn-outline-primary btn-sm mx-1" role="button">
        Upload
    </a>
</div>
<ul class="list-group">
    {% for item in textitem_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            <strong>{{ item }}</strong> {{ item.text }}
        </span>
        {{ experiment.title }}
        <span>
            <a href="{% url 'textitem-update' setup_slug=view.experiment.setup.slug slug=view.experiment.slug pk=item.pk %}"
               class="btn btn-outline-primary btn-sm mx-1" role="button">
                Edit
            </a>
            <a href="{% url 'textitem-delete' view.experiment.setup.slug  view.experiment.setup.slug item.pk %}"
               class="btn btn-outline-danger btn-sm mx-1" role="button">
                Delete
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
