{% extends "lrex_home/study_base.html" %}

{% block main_content %}
<div class="row justify-content-center mb-2">
    <a href="{% url 'textitem-create' study_slug=view.experiment.study.slug slug=view.experiment.slug %}"
       class="btn btn-outline-primary btn-sm mx-1" role="button">
        Add Item
    </a>
    <a href="{% url 'items-pregenerate' study_slug=view.experiment.study.slug slug=view.experiment.slug %}"
       class="btn btn-outline-primary btn-sm mx-1" role="button">
        Pregenerate Items
    </a>
    <a href="{% url 'textitem-upload' study_slug=view.experiment.study.slug slug=view.experiment.slug %}"
       class="btn btn-outline-primary btn-sm mx-1" role="button">
        Upload CSV
    </a>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="validate" class="btn btn-outline-primary btn-sm mx-1">
            Validate
        </button>
    </form>
</div>
<ul class="list-group">
    {% for item in textitem_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            <strong>{{ item }}</strong> {{ item.text }}
        </span>
        {{ experiment.title }}
        <span>
            <a href="{% url 'textitem-update' study_slug=view.experiment.study.slug slug=view.experiment.slug pk=item.pk %}"
               class="btn btn-outline-primary btn-sm mx-1" role="button">
                Edit
            </a>
            <a href="{% url 'textitem-delete' view.experiment.study.slug  view.experiment.study.slug item.pk %}"
               class="btn btn-outline-danger btn-sm mx-1" role="button">
                Delete
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
