$primary: #00a333;

@import './node_modules/bootstrap/scss/bootstrap';

@media (max-width: 480px) {
    .lrex .title {
        font-size: 140%;
    }
}

.lrex .breadcrumb {
    min-height: 24px;
}

.lrex .nav-pills>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
}

.lrex .nav-pills .nav-item .nav-link.active {
    background-color: $secondary;
}

.lrex .icon {
    width: 10px;
    height: 10px;
}

.lrex .icon-big {
    width: 24px;
    height: 24px;
}

.lrex .form-inline {
    display: inline;
}

.asteriskField {
    display: none;
}

.grey-shadow {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
}

.primary-shadow {
    box-shadow: 0 0.1rem 0.3rem $primary !important;
}

.item-content {
    font-size: 120%;
}

