@import './node_modules/bootstrap/scss/bootstrap';

body {
    padding-top: 50px;
}

.breadcrumb {
    background-color: white;
}

.icon {
    width: 24px;
    height: 24px;
}

.form-inline {
    display: inline;
}

shadow {
    box-shadow: 0 0 0.5rem rgba(0, 0, 255, 0.2);
}
