$primary: #00a333;

@import './node_modules/bootstrap/scss/bootstrap';

body {
    padding-top: 160px;
}

.lrex .nav-pills>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
}

.lrex .nav-pills .nav-item .nav-link.active {
    background-color: $secondary;
}

.lrex .icon {
    width: 24px;
    height: 24px;
}

.lrex .form-inline {
    display: inline;
}

.asteriskField {
    display: none;
}

.grey-shadow {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15) !important;
}

svg {
  fill: currentColor;
}

.primary-shadow {
    box-shadow: 0 0.1rem 0.3rem $primary !important;
}

.item-content {
    font-size: 120%;
}

