<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
<body>
<h1>
    Experiment Setup: {{ object.title }}
</h1>
{% for experiment in object.experiments %}
<div>
<a href="{% url 'experiment' setup_slug=object.slug slug=experiment.slug %}">
    {{ experiment.title }}
</a>
</div>
{% endfor %}
<a href="{% url 'experiment-create' setup_slug=object.slug %}">
    Add experiment
</a><br>

<a href="{% url 'binary-response-info' setup_slug=object.slug %}">
    Response Info
</a><br>
<a href="{% url 'trials' setup_slug=object.slug %}">
    View/Generate Trials
</a><br>
<a href="{% url 'user-trials' setup_slug=object.slug %}">
    User Trials
</a><br>
</body>
</html>