{% extends "lrex_home/setup_base.html" %}

{% block main_content %}
<div class="row justify-content-center mb-2">
    <a href="{% url 'setup-create' %}" class="btn btn-outline-primary btn-sm mx-1" role="button">
        New Setup
    </a>
</div>
<ul class="list-group">
    {% for setup in setup_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ setup.title }}
        <span>
            <a href="{% url 'setup' slug=setup.slug %}" class="btn btn-outline-primary btn-sm mx-1" role="button">
                Create/Edit
            </a>
            <a href="{% url 'setup-run' slug=setup.slug %}" class="btn btn-outline-primary btn-sm mx-1" role="button">
                Run
            </a>
            <a href="{% url 'setup-delete' slug=setup.slug %}" class="btn btn-outline-danger btn-sm mx-1" role="button">
                Delete
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}

