{% extends "lrex_home/setup_base.html" %}

{% block main_content %}
<div class="card my-1">
    <div class="card-body">
        <h2 class="card-title">User Trials</h2>
        <p class="card-text">
            Create and run user trials. View indivirual results.
        </p>
        <a  class="card-link" href="{% url 'user-trials' setup_slug=object.slug %}">User Trials</a>
    </div>
</div>

<div class="card my-1">
    <div class="card-body">
        <h2 class="card-title">Results</h2>
        <p class="card-text">
            See the current Results for your expriments.
        </p>
        <a  class="card-link" href="{% url 'experiment-result-list' object.slug %}">Results</a>
    </div>
</div>
{% endblock %}
