{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="next" value="{{ next }}">
    <button class="btn btn-outline-primary" type="submit">Submit</button>
</form>
<div class="mt-3">
    <p>
        Don't have an account? <a href="{% url 'django_registration_register' %}">Register</a>.
    </p>
    <p>
        Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a>.
    </p>
</div>
{% endblock %}
